<section class="home-content">
     <h1 class="home-title">{{ landing.homeTitle }}</h1>
 </section>
 
 <section class="selling-points container clearfix">
     <div class="point column third">
         <span class="ion-chatboxes"></span>
         <h5 class="point-title">Choose your chat room</h5>
         <p class="point-description">Meet new people by having the option to choose from multiple chat rooms.</p>
     </div>
     <div class="point column third">
         <span class="ion-radio-waves"></span>
         <h5 class="point-title">Unlimited messages, fast, and free</h5>
         <p class="point-description">No arbitrary limits. No distractions.</p>
     </div>
     <div class="point column third">
         <span class="ion-iphone"></span>
         <h5 class="point-title">Mobile enabled</h5>
         <p class="point-description">Chat on the go. This chat service is available on all mobile platforms.</p>
     </div>
</section>
