<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
<body>
<section class="rooms" ng-controller="RoomCtrl as roomCtrl">
    <section class="roomsForm">
        <p id="chatTitle">Chat Rooms</p>

        <div id="chatRoom" ng-repeat="room in rooms.rooms">
            <div ng-click="roomCtrl.setCurrentRoom(room)" ng-class="{chatRoomActive : room.$id == roomCtrl.currentRoom.$id}">{{ room.name }}</div>
        </div>
        
        <div id="createRoom">
            <button id="modalButton" type="button" ng-click="roomCtrl.open()">
                Create Chat Room
            </button>  
        </div>
    </section>
    <section class="chatCont">
        <br/>
        <b><span id="roomName">{{ roomCtrl.currentRoom.name }}</span></b>
        <br/>
        <br/>
        <br/>
        <table class="chatTable" width=100%>
            <tr width=100% ng-repeat="message in roomCtrl.messages">
                <td class="chatTD" width=80%>
                    <b>{{ message.username }}</b>
                    <br/>
                    {{ message.content }}
                </td>
                <td class="chatTD" width=20%>
                    {{ message.sentAt }}
                </td>
            </tr>
        </table>
        <div class="messageCont">
            <textarea id="messageTextArea" type="text" name="messageField" ng-show="roomCtrl.currentRoom.name" ng-model="roomCtrl.newMessage"></textarea>
            <input id="messageButton" type="submit" value="Send Message" ng-show="roomCtrl.currentRoom.name" ng-click="roomCtrl.sendMessage()">
        </div>
    </section>
</section>
</body>
</html>




